* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #595858;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.def-box {
    height: 80px;
    width: 30px;
    background-color: white;
    margin: 0.2rem;
}

.box1 {
    animation: wave 1.5s ease-out infinite;
    animation-delay: 0.2s;
}

.box2 {
    animation: wave 1.5s ease-out infinite;
    animation-delay: 0.4s;
}

.box3 {
    animation: wave 1.5s ease-out infinite;
    animation-delay: 0.6s;
}

.box4 {
    animation: wave 1.5s ease-out infinite;
    animation-delay: 0.8s;
}

.box5 {
    animation: wave 1.5s ease-out infinite;
    animation-delay: 1s;
}

@keyframes wave {
    0% {
        height: 80px;
    }
    30% {
        height: 160px;
    }
    60% {
        height: 80px;
    }
}

